<div >
  <div
    class="bg-gray-800 m-2 p-2 rounded-lg flex justify-between"
    [ngClass]="{ 'border-l-4 border-green-500': task.reminder }"
    (click)="onToggle(task)"
  >
    <div>
      <h3
        class="capitalize text-xl font-bold decoration-clone bg-gradient-to-b from-gray-200 via-red-300 to-blue-500 bg-clip-text text-transparent"
      >
        {{ task.text }}
      </h3>
      <p class="italic text-lg">{{ task.day }}</p>
    </div>
    <div>
      <button 
        (click)="onDelete(task); $event.stopPropagation()" 
        class="text-red-600 hover:text-red-800 hover:cursor-pointer">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </div>
</div>